.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameForm {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 100px;
}

.gameForm div {
  width: 200px;
  height: 50px;
}
.attempts {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
  align-items: start;
  padding: 10px;
}
