body {
  font-family: Arial, "Segoe UI", Roboto, Helvetica, sans-serif;
}

.person-table,
.person-table td,
.person-table th {
  border: 1px solid #000;
  border-collapse: collapse;
}

.product {
  padding: 16px;
  max-width: 200px;
  height: 300px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}

.img-product{
  margin: 0 auto;
  max-height: 140px;
  padding: 20px 10px;
}

.img-fav {
  max-width: 20px;
  position: absolute;
  align-self: end;
  padding-bottom: 180px;
}

.price {
  font-size: 24px;
  padding-top: 5px;
  color: #f84147;
}

.old-price {
  font-size: 14px;
  line-height: 1;
  text-decoration: line-through;
  color: #a6a5a5;
  padding-top: 5px;
}

.no-old-price {
  padding-top: 15px;
  color: #000;
}

.product-section {
  display: flex;
}

.block-price {
  padding-top: 5px;
}

.product-title {
  height: 40px;
  overflow: hidden;
  font-size: 14px;
}

.rozetka-section {
  padding-left: 20px;
}

.product-over {
  margin-bottom: 4px;
  font-size: 12px;
  color: #797878;
}

.product-not-over {
  color: #ff5c00;
  margin-bottom: 4px;
  font-size: 12px;
}

.uah {
  font-size: 18px;
}

.uah-small {
  font-size: 14px;
}

.status {
  padding-top: 10px;
}

.no-status {
  padding-top: 28px;
}

.block-title {
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 300;
}

.block-img {
  height: 180px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.cities {
  margin: 20px;
}